; Framework
;---------

[mysql]
deployer['host'] = '127.0.0.1'
deployer['dbname'] = 'deployer'
deployer['username'] = 'root'
deployer['password'] = '123456&'
deployer['port'] = '3306'
deployer['charset'] = 'utf8mb4'

[sqlite]
file = '/opt/udp-deployer/envs/database/deployer.db3'

[common]
log_dir = '/opt/udp-deployer/log'
copyright = 'udp-craft'
